* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  border: 2px solid grey;
}

.grid-row {
  display: flex;
  flex: 1;
}

.elements {
  border: 1px solid rgb(150,150,150);
  flex: 1;
}